<div  class="row">
    <ng-container *ngIf="filteredProduct && filteredProduct.length > 0; else loadingProducts ">
        <ng-container *ngFor="let product of filteredProduct"> 
            <div class="card" style="width: 18rem;">
                <img [src]="product.imageUrl" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{product.title}}</h5>
                    <h5 class="card-text">{{product.price  | currency:'INR'}}</h5>
                    
                </div>
                <button class="btn btn-success btn-sm">Add to Cart</button>
            </div>
        </ng-container>
    </ng-container>
    <ng-template #loadingProducts> 
        <div class="d-flex align-items-center">
          <div class="spinner-grow" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
    </ng-template>
  </div>