/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

.body{
    padding: 80px;
}

.container{
    padding: 80px;
}

.dropdown{
    cursor: pointer;
}