/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

.body{
    padding: 70px;  
}
.container{
    padding: 70px;
}

.dropdown{
    cursor: pointer;
}

.cursorPointer{
    cursor: pointer; 
}

.img-circle{
    width: 85px;
    height: 85px;
    border-radius: 100%;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }