/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
/**@import "http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css";**/
@import "~font-awesome/css/font-awesome.min.css";

.body{
    padding: 50px;  
}
.container{
    padding: 50px;
}

.nav-background{
    background-color: #FDA12A ;
}

#lblCartCount {
    font-size: 12px;
    background:#1e7e34;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
}
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
.dropdown{
    cursor: pointer;
}

.cursorPointer{
    cursor: pointer; 
}

.img-circle{
    width: 85px;
    height: 85px;
    border-radius: 100%;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }