<div class="container">
  <div class="row">
    <div class="col-3">
      <category [categoryId]='categoryId'></category>
    </div>
    <div class="col">
      <div  class="row">
        <ng-container *ngIf="filteredProduct && filteredProduct.length > 0; else loadingProducts ">
            <ng-container *ngFor="let product of filteredProduct"> 
              <product-card [product]='product'></product-card>
            </ng-container>
        </ng-container>
        <ng-template #loadingProducts> 
            <div  class="mx-auto">
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>

